@font-face {
    font-family: "h2";
    src: url("fonts/ferrum.otf");
}

@font-face {
    font-family: "text";
    src: url("fonts/Antique\ Book\ Cover.otf");
}

body {
    margin: 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
}

.box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 20px;
    width: 720px;
    height: 720px;
}

.visual {
    position: relative;
    width: 1100px;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

/* img {
    max-width: 720px;
} */

.bg {
    position: absolute;
}
 
.overlay {
    position: absolute;
}

.char {
    position: relative;
    top: 200px;
    height: 400px;
    opacity: 0;
}

.char2 {
    /* position: absolute; */
     position: relative;
    top: 200px;
    height: 400px;
    margin-left: 300px;
    opacity: 0;
    transform: scaleX(-1);
}

.extra1 {
    left: 0;
    position: absolute;
    opacity: 0;
}

.extra2 {
    right: 0;
    position: absolute;
    opacity: 0;
}

h2 {
    font-size: 30px;
    font-family: "text";
    margin-top: -30px;
    color: #211f1f;
    font-size: 20px;
    margin-left: 40px;
    font-family: cursive;
}

h1 {
    margin-top: -80px;
    color: white;
}

.Mage {
    font-size: 40px;
    font-family: "h2";
    color: rgb(182, 0, 0);
}

.Elf {
    font-size: 40px;
    font-family: "h2";
    color: rgb(0, 184, 138);
}

.Angel {
    color: rgb(255, 255, 255);
    background-color: #635637;
    padding: 5px;
    border-radius: 10px;
    border: 1px sol #635637;

}
.Angel2 {
    color: rgb(255, 255, 255);
    background-color: #635637;
    padding: 5px;
    border-radius: 10px;
    border: 1px sol #83600f;

}

.dialogueBox {
    border: 3px solid rgb(83, 79, 79);
    position: absolute;
    padding: 7px;
    min-height: 100px;
    border-radius: 100px;
    width: 850px;
    background-color: #939166;
    z-index: 4;
    bottom: 20;
}
.button {
    position: absolute;
    font-size: 20px;
    right: 20;
    bottom: 0;
    cursor: pointer;
    
}